.alertBackground{
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.alertReming,.alertWarning,.alertLoading{
  position: absolute;
  top: 4rem;
  left: 10%;
  height: 2rem;
  width: 80%;
  background-color: #fff;
  color: orange;
  z-index: 10000;
}