// 颜色

.colorSky{
  color: $sky !important;
}

.colorPink{
  color: deeppink !important;
}

.colorBlack{
  color: #000 !important;
}

.colorWhite{
  color: #fff !important;
}

.colorGreen{
  color: $thinGreen !important;
}

.colorLine{
  color:$line !important;
}

.colorGrey{
  color:$lighterGrey !important;
}

.colorText{
  color:#8e959a !important;
}

// 背景颜色

.bkSky{
  background-color: $sky;
}

.bkWhite{
  background-color: #fff;
}

.bkGreen{
  background-color: $thinGreen;
}

.bkGrey{
  background-color: #dedede;
}

// 水平

.tl{
  text-align: left;
}

.tc{
  text-align: center;
}

.tr{
  text-align: right;
}

// 浮动

.fl{
  float: left;
}

.fr{
  float: right;
}

// 指针

.point{
  cursor: pointer;
}

.text{
  cursor: text;
}

// display

.dib{
  display: inline-block;
}

.di{
  display: inline;
}

.db{
  display: block;
}

.dn{
  display: none;
}

// font-weight

.fb{
  font-weight: bold;
}

// vertical-align

.vc{
  vertical-align:middle !important;
}

.vb{
  vertical-align: bottom !important;
}

.vs{
  vertical-align: sub !important;
}

// overflow

.oa{
  overflow: auto !important;
}

.oh{
  overflow: hidden;
}

.ov{
  overflow: visible;
}

// text-overflow

.te{
  text-overflow:ellipsis;
}

// z-index

.z999{
  z-index: 999;
}

// position

.pa{
  position: absolute
}

.pr{
  position: relative;
}

.pf{
  position: fixed;
}

// border

.borderGrey{
  border: 1px solid $line;
}

