.input-big{
  display: inline-block;
  width: 200px;
  height: 30px;
  padding-left: 10px;
}

.input-center{
  display: inline-block;
  width: 100px;
  height: 30px;
  padding-left: 10px;
}

.input-small{
  display: inline-block;
  width: 50px;
  height: 30px;
  padding-left: 10px;
}

.btn-big{
  display: inline-block;
  width: 200px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  border:0;
  background-color:#fff;
  border:1px solid deepskyblue;
  padding:0;
}

.btn-center{
  display: inline-block;
  width: 100px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  border:0;
  background-color:#fff;
  border:1px solid deepskyblue;
  padding:0;
}

.btn-small{
  display: inline-block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  border:0;
  background-color:#fff;
  border:1px solid deepskyblue;
  padding:0;
}

.btn-sky{
  color: #fff;
  background-color: deepskyblue;
}