/*-- reset-sui --*/
html{font-size: 22px!important;}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:24.2px!important}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:26.4px!important}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:33px!important}}
i{font-style: normal;}
.page{background: #eeeeee;}
ul,li{margin: 0; padding: 0; list-style-type: none; border: 0;}
.swiper-pagination-bullet{margin-left: 0.4rem;}
.toast-no-multi-prop{top: 80%;}
.toast-multi-prop{top: 75%;}
.toast-multi-height{ height: auto; }
.tab-content .graphic-details img{width:100%!important;}
.message-details-content .details img{width:90%!important;}
.modal-buttons { background:#e8e8e8!important; border-radius: 0 0 0.35rem 0.35rem!important;}
.buy-btn{display: block; overflow: hidden;position: absolute; bottom: 0; right: 0;}
.buy-icon{ display: block; margin: 0.5rem; font-size: 0.75rem; color: #f65a44; border: 1px solid #f65a44; border-radius: 100%; padding: 0.25rem; line-height: 1;}
.prise-icon{display: block; margin: 0.5rem 0.5rem 0.3rem 0.5rem; line-height: 1; font-size: 0.75rem; border: 1px solid #f65a44; border-radius: 100%; padding: 0.25rem;}

@keyframes loading {
    from { transform:rotate(0deg) translateZ(0); }
    to { transform:rotate(360deg) translateZ(0); }
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.more-than{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 40%;
	vertical-align: middle;
	text-align: left;
}